<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Plant Tree</title>
    <meta content="<%= _csrf %>" id="_csrf" />
    <link rel="manifest" href="public/manifest.json">
    <script src="/public/js/initsw.js"></script>
    <%- include('../partials/require') %>
    <link rel="stylesheet" href="/public/css/map.css">
    <link rel="stylesheet" href="/public/css/table.css">
</head>
<body>
  <%- include('../partials/nav', {page: 'controller', user: user}) %>
  <div class="container-fluid" style="margin-top: 1%">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8" >
            <div class="text-center">
                <h3>Lịch sử tưới</h3>
            </div>

            <div class="handmade-table container-fluid">
                <div class="handmade-table-header">
                    <div class="row row-cols-3" style="background-color: #00D97E;">
                        <div class="col-3 text-break">
                            <b>Thiết bị</b>
                         </div>
                        <div class="col-5 text-break"> <b>Lịch tưới</b></div>
                        <div class="col-4 text-break"><b>Thời gian tưới (phút)</b></div>
    
                    </div>
                </div>
                <div class="handmade-table-content" style="height: 240px;">
                    <div class="hover">
                        <div class="row row-cols-3">
                            <div class="col-3 text-break">id9_1</div>
                            <div class="col-6 text-break">2020-05-22T05:58:21.935+00:00</div>
                            <div class="col-3 text-break">7</div>                     
                        </div>
                    </div>
                    <div class="hover">
                        <div class="row row-cols-3">
                            <div class="col-3 text-break">id9_1</div>
                            <div class="col-6 text-break">2020-05-22T05:58:21.935+00:00</div>
                            <div class="col-3 text-break">7</div>                     
                        </div>
                    </div>
                    <div class="hover">
                        <div class="row row-cols-3">
                            <div class="col-3 text-break">id9_1</div>
                            <div class="col-6 text-break">2020-05-22T05:58:21.935+00:00</div>
                            <div class="col-3 text-break">7</div>                     
                        </div>
                    </div>
                    <div class="hover">
                        <div class="row row-cols-3">
                            <div class="col-3 text-break">id9_1</div>
                            <div class="col-6 text-break">2020-05-22T05:58:21.935+00:00</div>
                            <div class="col-3 text-break">7</div>                     
                        </div>
                    </div>
                    <div class="hover">
                        <div class="row row-cols-3">
                            <div class="col-3 text-break">id9_1</div>
                            <div class="col-6 text-break">2020-05-22T05:58:21.935+00:00</div>
                            <div class="col-3 text-break">7</div>                     
                        </div>
                    </div>
                    <div class="hover">
                        <div class="row row-cols-3">
                            <div class="col-3 text-break">id9_1</div>
                            <div class="col-6 text-break">2020-05-22T05:58:21.935+00:00</div>
                            <div class="col-3 text-break">7</div>                     
                        </div>
                    </div>
                    <div class="hover">
                        <div class="row row-cols-3">
                            <div class="col-3 text-break">id9_1</div>
                            <div class="col-6 text-break">2020-05-22T05:58:21.935+00:00</div>
                            <div class="col-3 text-break">7</div>                     
                        </div>
                    </div>
                    <div class="hover">
                        <div class="row row-cols-3">
                            <div class="col-3 text-break">id9_1</div>
                            <div class="col-6 text-break">2020-05-22T05:58:21.935+00:00</div>
                            <div class="col-3 text-break">7</div>                     
                        </div>
                    </div>
                </div>
            </div>   
            <div class="text-center">
                <h3>Danh sách Motor</h3>
            </div>
            <div class="handmade-table container-fluid">
                <div class="handmade-table-header">
                    <div class="row row-cols-3" style="background-color: #00D97E ;">
                        <div class="col-2 text-break">
                            <b>#</b>    
                        </div>
                        <div class="col-4 text-break">
                            <b>Thiết bị</b>
                        </div>
                        <div class="col-6 text-break">
                            <b>Trạng thái</b>
                        </div>
    
                    </div>
                </div>
                <div class="handmade-table-content" style="height: 240px;">
                    <div class="hover">
                        <div class="row row-cols-3">
                            <div class="col-2 text-break">1</div>
                            <div class="col-4 text-break">id9_1</div>
                            <div class="col-6 text-break">Yếu</div>          
                        </div>
                    </div>
                    <div class="hover">
                        <div class="row row-cols-3">
                            <div class="col-2 text-break">2</div>
                            <div class="col-4 text-break">id9_2</div>
                            <div class="col-6 text-break">Yếu</div>          
                        </div>
                    </div>
                   <div class="hover">
                        <div class="row row-cols-3">
                            <div class="col-2 text-break">3</div>
                            <div class="col-4 text-break">id9_3</div>
                            <div class="col-6 text-break">Trung bình</div>          
                        </div>
                   </div>
                   <div class="hover">
                    <div class="row row-cols-3">
                        <div class="col-2 text-break">4</div>
                        <div class="col-4 text-break">id9_4</div>
                        <div class="col-6 text-break">Mạnh</div>          
                    </div>
                   </div>
                    <div class="hover">
                        <div class="row row-cols-3">
                            <div class="col-2 text-break">5</div>
                            <div class="col-4 text-break">id9_5</div>
                            <div class="col-6 text-break">Mạnh</div>          
                        </div>
                    </div>
                   
                </div>
            </div> 
        
        
        
        
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" >
            <div class="text-center">
                <h3>Tưới nước</h3>
            </div>
            
            <form >
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Chọn motor:</label>
                  <select class="form-control" id="exampleFormControlSelect1" style="margin-right: 25%;">
                    <option>id9_1</option>
                    <option>id9_2</option>
                    <option>id9_3</option>
                    <option>id9_4</option>
                    <option>id9_5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect2">Chọn ngày giờ tưới:</label>
                  <div class='input-group date' id='datetimepicker5'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                </div>
                <div class="form-group">
                  
                </div>
            </form>
        </div>
    </div>
    
  </div>
</body>
</html>