<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Plant Tree</title>
    <script src="/public/js/jquery-3.4.1.min.js"></script>
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
  <div id="root">
    <nav id="slidebar" class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sideCollapse" aria-controls="sideCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand-info">
          <a class="navbar-brand" href="/">
            <img class="navbar-brand-img mx-auto" src="/public/assets/images/brand.png" alt="Brand Image">
          </a>
        </div>
        <div id="sideCollapse" class="collapse navbar-collapse">
          <h5 class="navbar-brand-name">Easy Plant Tree</h5>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active">
                <img class="icon" src="/public/assets/images/dashboards.svg" alt="|">
                Dashboards
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <img class="icon" src="/public/assets/images/map.svg" alt="|">
                Map
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <img class="icon" src="/public/assets/images/controls.svg" alt="|">
                Controls
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <img class="icon" src="/public/assets/images/authentication.svg" alt="|">
                  Contact
              </a>
            </li>
          </ul>
          <div class="mt-auto"></div>
          <div id="slidebarUser" class="navbar-user d-none d-md-flex">
            <a class="navbar-user-notification">
              <img class="icon" src="/public/assets/images/notifications.svg">
              <span class="status">●</span>
            </a>
            <div class="dropup show">
              <a id="slidebarAvatar" class="dropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <div class="avatar avatar-sm">
                  <img class ="avatar-img rounded-circle" src="/public/assets/images/user.png">
                </div>
                <div class="dropdown-menu" aria-labelledby="slidebarAvatar">
                  <a class="dropdown-item">Profile</a>
                  <a class="dropdown-item">Logout</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-header"><b>Duc Vo</b></a>
                </div>
              </a>
            </div>
            <a class="navbar-user-setings">
              <img class="icon" src="/public/assets/images/settings.svg">
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div id="main-area">
      <h1>This is a main board</h1>
      <p style="word-wrap: break-word">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur autem quibusdam deleniti quo alias harum iure voluptatibus atque adipisci! Sunt nam consequatur nisi voluptatibus, amet commodi impedit dolorem repellat magnam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit facilis quis hic quae tempora cum voluptatibus magni maxime, blanditiis praesentium ex voluptate pariatur reiciendis dolores libero enim quos necessitatibus similique!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quas ut rerum fugiat quidem quasi optio dolorem, molestiae natus ea corrupti atque nobis in. Quae harum voluptate quia alias accusantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit maxime architecto voluptates, nihil quibusdam repudiandae, esse tenetur molestias pariatur sit magnam labore, facilis veritatis. Est non voluptatem soluta dolore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quo reiciendis magni ex soluta distinctio dolorem laudantium suscipit dolores. Veritatis nesciunt quae culpa ad inventore illo harum rerum ab eius.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur autem quibusdam deleniti quo alias harum iure voluptatibus atque adipisci! Sunt nam consequatur nisi voluptatibus, amet commodi impedit dolorem repellat magnam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit facilis quis hic quae tempora cum voluptatibus magni maxime, blanditiis praesentium ex voluptate pariatur reiciendis dolores libero enim quos necessitatibus similique!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quas ut rerum fugiat quidem quasi optio dolorem, molestiae natus ea corrupti atque nobis in. Quae harum voluptate quia alias accusantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit maxime architecto voluptates, nihil quibusdam repudiandae, esse tenetur molestias pariatur sit magnam labore, facilis veritatis. Est non voluptatem soluta dolore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quo reiciendis magni ex soluta distinctio dolorem laudantium suscipit dolores. Veritatis nesciunt quae culpa ad inventore illo harum rerum ab eius.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur autem quibusdam deleniti quo alias harum iure voluptatibus atque adipisci! Sunt nam consequatur nisi voluptatibus, amet commodi impedit dolorem repellat magnam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit facilis quis hic quae tempora cum voluptatibus magni maxime, blanditiis praesentium ex voluptate pariatur reiciendis dolores libero enim quos necessitatibus similique!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quas ut rerum fugiat quidem quasi optio dolorem, molestiae natus ea corrupti atque nobis in. Quae harum voluptate quia alias accusantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit maxime architecto voluptates, nihil quibusdam repudiandae, esse tenetur molestias pariatur sit magnam labore, facilis veritatis. Est non voluptatem soluta dolore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quo reiciendis magni ex soluta distinctio dolorem laudantium suscipit dolores. Veritatis nesciunt quae culpa ad inventore illo harum rerum ab eius.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur autem quibusdam deleniti quo alias harum iure voluptatibus atque adipisci! Sunt nam consequatur nisi voluptatibus, amet commodi impedit dolorem repellat magnam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit facilis quis hic quae tempora cum voluptatibus magni maxime, blanditiis praesentium ex voluptate pariatur reiciendis dolores libero enim quos necessitatibus similique!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quas ut rerum fugiat quidem quasi optio dolorem, molestiae natus ea corrupti atque nobis in. Quae harum voluptate quia alias accusantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit maxime architecto voluptates, nihil quibusdam repudiandae, esse tenetur molestias pariatur sit magnam labore, facilis veritatis. Est non voluptatem soluta dolore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quo reiciendis magni ex soluta distinctio dolorem laudantium suscipit dolores. Veritatis nesciunt quae culpa ad inventore illo harum rerum ab eius.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur autem quibusdam deleniti quo alias harum iure voluptatibus atque adipisci! Sunt nam consequatur nisi voluptatibus, amet commodi impedit dolorem repellat magnam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit facilis quis hic quae tempora cum voluptatibus magni maxime, blanditiis praesentium ex voluptate pariatur reiciendis dolores libero enim quos necessitatibus similique!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quas ut rerum fugiat quidem quasi optio dolorem, molestiae natus ea corrupti atque nobis in. Quae harum voluptate quia alias accusantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit maxime architecto voluptates, nihil quibusdam repudiandae, esse tenetur molestias pariatur sit magnam labore, facilis veritatis. Est non voluptatem soluta dolore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quo reiciendis magni ex soluta distinctio dolorem laudantium suscipit dolores. Veritatis nesciunt quae culpa ad inventore illo harum rerum ab eius.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur autem quibusdam deleniti quo alias harum iure voluptatibus atque adipisci! Sunt nam consequatur nisi voluptatibus, amet commodi impedit dolorem repellat magnam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit facilis quis hic quae tempora cum voluptatibus magni maxime, blanditiis praesentium ex voluptate pariatur reiciendis dolores libero enim quos necessitatibus similique!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quas ut rerum fugiat quidem quasi optio dolorem, molestiae natus ea corrupti atque nobis in. Quae harum voluptate quia alias accusantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit maxime architecto voluptates, nihil quibusdam repudiandae, esse tenetur molestias pariatur sit magnam labore, facilis veritatis. Est non voluptatem soluta dolore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quo reiciendis magni ex soluta distinctio dolorem laudantium suscipit dolores. Veritatis nesciunt quae culpa ad inventore illo harum rerum ab eius.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur autem quibusdam deleniti quo alias harum iure voluptatibus atque adipisci! Sunt nam consequatur nisi voluptatibus, amet commodi impedit dolorem repellat magnam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit facilis quis hic quae tempora cum voluptatibus magni maxime, blanditiis praesentium ex voluptate pariatur reiciendis dolores libero enim quos necessitatibus similique!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quas ut rerum fugiat quidem quasi optio dolorem, molestiae natus ea corrupti atque nobis in. Quae harum voluptate quia alias accusantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit maxime architecto voluptates, nihil quibusdam repudiandae, esse tenetur molestias pariatur sit magnam labore, facilis veritatis. Est non voluptatem soluta dolore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quo reiciendis magni ex soluta distinctio dolorem laudantium suscipit dolores. Veritatis nesciunt quae culpa ad inventore illo harum rerum ab eius.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur autem quibusdam deleniti quo alias harum iure voluptatibus atque adipisci! Sunt nam consequatur nisi voluptatibus, amet commodi impedit dolorem repellat magnam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit facilis quis hic quae tempora cum voluptatibus magni maxime, blanditiis praesentium ex voluptate pariatur reiciendis dolores libero enim quos necessitatibus similique!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quas ut rerum fugiat quidem quasi optio dolorem, molestiae natus ea corrupti atque nobis in. Quae harum voluptate quia alias accusantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit maxime architecto voluptates, nihil quibusdam repudiandae, esse tenetur molestias pariatur sit magnam labore, facilis veritatis. Est non voluptatem soluta dolore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quo reiciendis magni ex soluta distinctio dolorem laudantium suscipit dolores. Veritatis nesciunt quae culpa ad inventore illo harum rerum ab eius.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur autem quibusdam deleniti quo alias harum iure voluptatibus atque adipisci! Sunt nam consequatur nisi voluptatibus, amet commodi impedit dolorem repellat magnam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit facilis quis hic quae tempora cum voluptatibus magni maxime, blanditiis praesentium ex voluptate pariatur reiciendis dolores libero enim quos necessitatibus similique!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quas ut rerum fugiat quidem quasi optio dolorem, molestiae natus ea corrupti atque nobis in. Quae harum voluptate quia alias accusantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit maxime architecto voluptates, nihil quibusdam repudiandae, esse tenetur molestias pariatur sit magnam labore, facilis veritatis. Est non voluptatem soluta dolore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quo reiciendis magni ex soluta distinctio dolorem laudantium suscipit dolores. Veritatis nesciunt quae culpa ad inventore illo harum rerum ab eius.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur autem quibusdam deleniti quo alias harum iure voluptatibus atque adipisci! Sunt nam consequatur nisi voluptatibus, amet commodi impedit dolorem repellat magnam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit facilis quis hic quae tempora cum voluptatibus magni maxime, blanditiis praesentium ex voluptate pariatur reiciendis dolores libero enim quos necessitatibus similique!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quas ut rerum fugiat quidem quasi optio dolorem, molestiae natus ea corrupti atque nobis in. Quae harum voluptate quia alias accusantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit maxime architecto voluptates, nihil quibusdam repudiandae, esse tenetur molestias pariatur sit magnam labore, facilis veritatis. Est non voluptatem soluta dolore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quo reiciendis magni ex soluta distinctio dolorem laudantium suscipit dolores. Veritatis nesciunt quae culpa ad inventore illo harum rerum ab eius.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur autem quibusdam deleniti quo alias harum iure voluptatibus atque adipisci! Sunt nam consequatur nisi voluptatibus, amet commodi impedit dolorem repellat magnam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit facilis quis hic quae tempora cum voluptatibus magni maxime, blanditiis praesentium ex voluptate pariatur reiciendis dolores libero enim quos necessitatibus similique!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quas ut rerum fugiat quidem quasi optio dolorem, molestiae natus ea corrupti atque nobis in. Quae harum voluptate quia alias accusantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit maxime architecto voluptates, nihil quibusdam repudiandae, esse tenetur molestias pariatur sit magnam labore, facilis veritatis. Est non voluptatem soluta dolore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quo reiciendis magni ex soluta distinctio dolorem laudantium suscipit dolores. Veritatis nesciunt quae culpa ad inventore illo harum rerum ab eius.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur autem quibusdam deleniti quo alias harum iure voluptatibus atque adipisci! Sunt nam consequatur nisi voluptatibus, amet commodi impedit dolorem repellat magnam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit facilis quis hic quae tempora cum voluptatibus magni maxime, blanditiis praesentium ex voluptate pariatur reiciendis dolores libero enim quos necessitatibus similique!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quas ut rerum fugiat quidem quasi optio dolorem, molestiae natus ea corrupti atque nobis in. Quae harum voluptate quia alias accusantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit maxime architecto voluptates, nihil quibusdam repudiandae, esse tenetur molestias pariatur sit magnam labore, facilis veritatis. Est non voluptatem soluta dolore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quo reiciendis magni ex soluta distinctio dolorem laudantium suscipit dolores. Veritatis nesciunt quae culpa ad inventore illo harum rerum ab eius.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur autem quibusdam deleniti quo alias harum iure voluptatibus atque adipisci! Sunt nam consequatur nisi voluptatibus, amet commodi impedit dolorem repellat magnam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit facilis quis hic quae tempora cum voluptatibus magni maxime, blanditiis praesentium ex voluptate pariatur reiciendis dolores libero enim quos necessitatibus similique!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quas ut rerum fugiat quidem quasi optio dolorem, molestiae natus ea corrupti atque nobis in. Quae harum voluptate quia alias accusantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit maxime architecto voluptates, nihil quibusdam repudiandae, esse tenetur molestias pariatur sit magnam labore, facilis veritatis. Est non voluptatem soluta dolore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quo reiciendis magni ex soluta distinctio dolorem laudantium suscipit dolores. Veritatis nesciunt quae culpa ad inventore illo harum rerum ab eius.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur autem quibusdam deleniti quo alias harum iure voluptatibus atque adipisci! Sunt nam consequatur nisi voluptatibus, amet commodi impedit dolorem repellat magnam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit facilis quis hic quae tempora cum voluptatibus magni maxime, blanditiis praesentium ex voluptate pariatur reiciendis dolores libero enim quos necessitatibus similique!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quas ut rerum fugiat quidem quasi optio dolorem, molestiae natus ea corrupti atque nobis in. Quae harum voluptate quia alias accusantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit maxime architecto voluptates, nihil quibusdam repudiandae, esse tenetur molestias pariatur sit magnam labore, facilis veritatis. Est non voluptatem soluta dolore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quo reiciendis magni ex soluta distinctio dolorem laudantium suscipit dolores. Veritatis nesciunt quae culpa ad inventore illo harum rerum ab eius.
      </p>
    </div>
  </div>
</body>
</html>