<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Easy Plant Tree</title>
  <meta content="<%= _csrf %>" id="_csrf" />
  <link rel="manifest" href="public/manifest.json">
  <script src="/public/js/initsw.js"></script>
  <script src="/public/js/chartjs/Chart.bundle.min.js"></script>
  <script src="/public/js/palette.js"></script>
  <%- include('../partials/require') %>
  <style>
    .average-wrapper,
    .chart-wrapper {
      background-color: #f8f9fa;
      margin-top: 0.3rem;
      border-radius: 1rem;
      height: 100%;
    }

    .left-chart {
      padding-left: 0.3rem;
      padding-right: 0.3rem;
    }

    .right-chart {
      margin-top: 0.3rem;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
    }

    @media screen and (min-width: 960px) {
      .right-chart {
        margin-top: 0 !important;
      }

      .left-chart {
        padding-right: 0 !important;
      }

      #average {
        position: relative;
        top: 25%;
      }
    }
  </style>
</head>

<body>

  <%- include('../partials/nav', {page: 'dasboard', user: user}) %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 left-chart">
        <div class="chart-wrapper">
          <canvas id="chart" class=""></canvas>
          <script>
            let datas = Array.from({ length: 60 }, () => Math.floor(Math.random() * 1024) % 1024);
            let label = Array.from({ length: 60 }, (v, i) => {
              let date = new Date(Date.now() + 180000 * i);
              return date;
            });
            let chart = document.getElementById('chart').getContext('2d');
            let soilMoisture = new Chart(chart, {
              type: 'line',
              data: {
                labels: label,
                datasets: [
                  {
                    label: 'Độ Ẩm',
                    data: datas
                  }
                ]
              },
              options: {
                responsiveAnimationDuration: 500,
                scales: {
                  yAxes: [{
                    ticks: {
                      minx: 0,
                      max: 1023,
                      stepSize: 256
                    }
                  }],
                  xAxes: [{
                    type: 'time',
                    time: {
                      unit: 'minute',
                      round: 'minute',
                      unitStepSize: 30,
                      displayFormats: {
                        minute: 'HH:mm'
                      }

                    }
                  }]
                },
                title: {
                  position: 'bottom',
                  display: true,
                  text: 'Cảm biến độ ẩm đất 1'
                },
                legend: {
                  display: true,
                },
                elements: {
                  point: {
                    pointStyle: 'rectRounded'
                  },
                  line: {
                    fill: false,
                    tension: 0,
                    borderColor: '#48bb78',
                    borderWidth: 2
                  }
                },
                layout: {
                  padding: {
                    right: 20
                  }
                }
              }
            });

            setInterval(function addData(chart) {
              let fake = new Date(chart.data.labels[chart.data.labels.length - 1].getTime() + 180000);
              chart.data.labels.push(fake);
              chart.data.datasets.forEach((dataset) => {
                dataset.data.push(Math.floor(Math.random() * 1024) % 1024);
              });
              chart.update();
            }, 1000, soilMoisture);
          </script>
        </div>
      </div>

      <div class="col-lg-4 right-chart">
        <div class="average-wrapper">
          <canvas id="average"></canvas>
          <script>
            let average = document.getElementById('average');
            let averageChart = new Chart(average, {
              type: 'bar',
              data: {
                datasets: [{
                  data: [1000, 750, 250, 400],
                  backgroundColor: palette('cb-Pastel2', 4).map(color => `#${color}`)
                }],
                labels: ['Sensor 1', 'Sensor 2', 'Sensor 3', 'Sensor 4']
              },
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: true,
                    }
                  }]
                },
                title: {
                  text: 'Độ ẩm đất trung bình theo tuần',
                  position: 'bottom',
                  display: true
                },
                legend: {
                  display: false,
                },
                scales: {
                  yAxes: [{
                    ticks: {
                      minx: 0,
                      max: 1023,
                      stepSize: 256
                    }
                  }],
                }
              }
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</body>

</html>