<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Plant Tree</title>
    <meta content="<%= _csrf %>" id="_csrf" />
    <link rel="manifest" href="public/manifest.json">
    <script src="/public/js/initsw.js"></script>
    <%- include('../partials/require') %>
</head>
<body>
  <%- include('../partials/nav', {page: 'dasboard', user: user}) %>
  <div>

  </div>
</body>
</html>