<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include ('../partials/require') %>
    <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
    <header>
        <div class="container-fluid d-flex justify-content-center">
            <img class="image-brand" src="/public/assets/images/logo.png" alt="Eassy Plant Tree">
        </div>
    </header>
    <div class="container-fluid d-flex justify-content-center form">
        <div class="d-flex flex-column login col-sm-6 col-md-5 col-lg-4">
            <div>Log in to Continue to:</div>
            <div><b>Eassy Plant Tree</b></div>
            <form action="/auth/login" method="POST" id="login-form">
                <input type="hidden" value="<%= _csrf %>" name="_csrf">
                <% if (wrong) {%>
                    <div class="alert alert-danger wrong" role="alert">
                        Wrong: <%= wrong %>
                    </div>
                <% } %>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                <button type="submit" id="submit" class="btn btn-primary container-fluid">Login</button>
            </form>
            <div>OR</div>
            <button class="btn btn-light container-fluid login-google">
                <img class="google-logo" src="/public/assets/images/google.svg" alt="google">
                <b>Continue with Google</b>
            </button>
            <hr>
            <div id="more">
                <a href="/account/forget">Can't Log in?</a>
                <span>&bull;</span>
                <a href="/account/signup">Sign up for an account</a>
            </div>
        </div>
    </div>
    <footer class="container-fluid d-flex justify-content-center">
        <span>&copy; 2019-2020</span>
    </footer>
    <script>
        let wrong = document.querySelector('.wrong');
        if(wrong){
            setTimeout(() => wrong.remove(), 5000);
        }
    </script>
</body>
</html>