<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Plant Tree</title>
    <%- include('../partials/require') %>
    <script src="/public/js/mapbox/mapbox-gl.js"></script>
    <link rel="stylesheet" href="/public/css/mapbox/mapbox-gl.css">
    <link rel="stylesheet" href="/public/css/map.css">
</head>

<body>
    <%- include('../partials/nav', {page: 'map'}) %>
    <div id="main" class="container-fluid">
        <div class="row">
          <div id = map class="col-lg-8">
          </div>
          <div class="col-lg-4">
            <div class="table-responsive">
                    <table class="table table-fixed">
                        <thead>
                            <tr>
                                <th scope="col" class="col-2">#</th>
                                <th scope="col" class="col-7">Name</th>
                                <th scope="col" class="col-3">Find</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="col-2">1</th>
                                <td class="col-7">Sensor 1 </td>
                                <td class="col-3">
                                    <button id="sensor1" type="button" class="btn btn-info">Find</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-2">1</th>
                                <td class="col-7">Sensor</td>
                                <td class="col-3">
                                    <button type="button" class="btn btn-info">Info</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-2">1</th>
                                <td class="col-7">Sensor</td>
                                <td class="col-3">
                                    <button type="button" class="btn btn-info">Info</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-2">1</th>
                                <td class="col-7">Sensor</td>
                                <td class="col-3">
                                    <button type="button" class="btn btn-info">Info</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-2">1</th>
                                <td class="col-7">Sensor</td>
                                <td class="col-3">
                                    <button type="button" class="btn btn-info">Info</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-2">1</th>
                                <td class="col-7">Sensor</td>
                                <td class="col-3">
                                    <button type="button" class="btn btn-info">Info</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-2">1</th>
                                <td class="col-7">Sensor</td>
                                <td class="col-3">
                                    <button type="button" class="btn btn-info">Info</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-2">1</th>
                                <td class="col-7">Sensor</td>
                                <td class="col-3">
                                    <button type="button" class="btn btn-info">Info</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-2">1</th>
                                <td class="col-7">Sensor</td>
                                <td class="col-3">
                                    <button type="button" class="btn btn-info">Info</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-2">1</th>
                                <td class="col-7">Sensor</td>
                                <td class="col-3">
                                    <button type="button" class="btn btn-info">Info</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-2">1</th>
                                <td class="col-7">Sensor</td>
                                <td class="col-3">
                                    <button type="button" class="btn btn-info">Info</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-2">1</th>
                                <td class="col-7">Sensor</td>
                                <td class="col-3">
                                    <button type="button" class="btn btn-info">Info</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
          </div>
        </div>
    </div>
    
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoidmFuZHVjdm8iLCJhIjoiY2s4anhzODJ3MDlieDNlbTdkNXloOXJsbCJ9.rHcG-iX1IOcoqQGq9gX03A';
        let map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [106.8029505, 10.880711],
            zoom: 12
        });

        document.getElementById("sensor1").onclick = function(){
            let info = {
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: [106.65913661332138, 10.773434613744882]
                },
                properties: {
                    title: 'Sensor X',
                    description: 'Ho Chi Minh city University of Technology'
                }
            };

            new mapboxgl.Marker()
                .setLngLat(info.geometry.coordinates)
                .setPopup(new mapboxgl.Popup({ offset: 25 }) 
                .setHTML(
                    '<h5>' + info.properties.title +
                     '</h5><p>' + info.properties.description + '</p>'
                ))
                .addTo(map);

            map.flyTo({
                center: info.geometry.coordinates,
                essential: true
            });
        }
    </script>
</body>

</html>