#main-area{
    background-color: #f9fbfd;
}

.icon {
    opacity: 0.5;
}

.icon:hover {
    opacity: 1;
}

.status.active{
    color:#00D97E !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.avatar-img {
    width: 40px;
    height: 40px;
}

.navbar-vertical.navbar-expand-md .navbar-brand{
    display: block;
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.navbar-vertical.navbar-expand-md .navbar-nav .icon{
    padding-right: 1rem;
}

.navbar-vertical.navbar-expand-md .nav-item{
    border-width: thin;
    border-bottom-style: solid;
    border-color: #d8e3f1;
}

@media (min-width: 768px){
    .navbar-vertical.navbar-expand-md {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        max-width: 250px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        overflow-y: auto;
        border-right-style: solid;
        border-color: #e3ebf6;
    }

    .navbar-vertical.navbar-expand-md.fixed-left{
        left: 0;
        border-width: 0 1px 0 0;
    }

    .navbar-vertical.navbar-expand-md .container-fluid{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .navbar-vertical.navbar-expand-md .navbar-collapse{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar-vertical.navbar-expand-md .navbar-nav{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar-vertical.navbar-expand-md .navbar-user{
        align-items: center;
        margin-top: 1rem;
        bottom: 0;
    }
    
    .navbar-vertical.navbar-expand-md .navbar-user .status {
        font-size: x-large;
        position: relative;
        top: -10px;
        left: -15px;
        opacity: 0.5;
    }

    .navbar-vertical.navbar-expand-md .navbar-user-setings{
        padding-left: 0.8rem;
    }


    .navbar-vertical.navbar-expand-md .mt-auto{
        height: 100%;
        width: 100%;
    }

    .navbar-vertical.navbar-expand-md .dropdown-menu{
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    #main-area{
        padding-left: 250px;
        height: 100%;
        width: 100%;
    }
}

@media(max-width: 768px){
    .navbar-brand-img{
        height: 50%;
        width:50%;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .navbar.navbar-vertical{
        position: fixed !important;
        top: 0;
        width: 100%;
        margin-top: 0;
        padding-top: 0;
    }
}