html, body{
    height: 100%;
}

#main{
    height: 91%;
}

#main > .row{
    height: 100%;
}

#map {
    height: 100%;
    padding-top: 5px;
    padding-left: 5px !important;
    border-radius: 2% !important;
    padding-right: 0;
}

@media screen and (max-width: 960px){
    #map{
        height: 60%;
    }
}

.mapboxgl-canvas{
    border-radius: 2% !important;
    -webkit-box-shadow: 0px 20px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 20px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 20px 14px 0px rgba(0,0,0,0.75);
}

.mapboxgl-popup {
    max-width: 100px;
}
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.table-fixed tbody {
    height: calc(100vh - 125px);
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;
}